### Node
node_modules
dist
build
.next
.turbo
.vite

### Python
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/
.env

### OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/

### Docker
*.log
